<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeQuotient</title>
</head>
<body>
    <h1>Hello</h1>

    <h3>You are invited to the channel</h3>
    <h3>Use the provided link to register the workspace and join the channel</h3>

    <a href="<%=locals.userInviteBaseURL%>?token=<%=locals.token%>"><%=locals.userInviteBaseURL%>?token=<%=locals.token%></a>
    <h3>Thanks</h3>
</body>
</html>